[submodule "41_to_56_creating_a_plugin_from_scratch/potion"]
	path = 41_to_56_creating_a_plugin_from_scratch/potion
	url = /Users/z0ltan/dev/study/vim/learn_vimscript_the_hard_way/41_to_56_creating_a_plugin_from_scratch/potion
